{
  "plugins": [
//    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "tests": "./_tests_"
      },
      "cwd": "babelrc"
    }]
  ]
}
